@use '../../colors.scss' as colors;
@use '../../sizes.scss' as sizes;

.project {
  background-color: colors.$color5;
  margin-top: sizes.$size1;
}

.technologies {
  display: flex;
  flex-direction: row;
  gap: sizes.$size1;
}