@use 'sass:list';
@import '../../style.scss';

.study {
  // background-color: $color5;
}

.school-logo-container {
  display: flex;
  // width: $base-size;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.school-logo {
  height: $base-size * 3;
}
