@use 'sass:list';
@import '../../colors.scss';
@import '../../sizes.scss';

.details-photo {
    height: nth($sizes, 7) * 5;
    border-radius: nth($sizes, 7) * 5;
    border: calc(nth($sizes, 1) / 3) solid $color1;
}