@use 'sass:list';
@import '../../sizes.scss';

.technology {
    display: flex;
    align-items: center;
    gap: nth($sizes, 1);
    white-space: nowrap;
}

.tech-logo {
    height: nth($sizes, 5);
}