@use 'sass:list';
@import '../../style.scss';

.technology {
    display: flex;
    align-items: center;
    gap: calc($base-size / 3);
    white-space: nowrap;
}

.tech-logo {
    height: $base-size;
}