@use '../../colors.scss' as colors;
@use 'sass:list';
@import '../../sizes.scss';

.technical-skills {
  gap: nth($sizes, 5) 
}

.technical-skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: nth($sizes, 5);
  grid-row-gap: nth($sizes, 1);
  width: min-content;
}