$color1: black;
$color2: aquamarine;
$color3: lightblue;
$color4: purple;
$color5: orange;
$color6: lightgreen;
$color7: lightpink;
$color8: lightblue;
$color9: rgb(172, 183, 187);
$color10: rgb(235, 246, 250);
$color11: RoyalBlue;

$colors: $color1, $color2, $color3, $color4, $color5, $color6, $color7, $color8,
  $color9, $color10, $color11;
