@use './assets/fonts/JetBrainsMono-2.304/style.scss';
@use 'sass:list';
@import './assets/fonts/MontSerrat/style.scss';

@media print {
  @page {
    margin: 0;
  }

  html {
    background: none !important; /* Prevent background rendering when printing */
  }

  .cv-container {
    width: 21cm;
    height: 29.7cm;
    border-radius: 0!important;
  }
}

$base-size: 0.6rem;

html {
  margin: 0;
  padding: 0 !important;
  padding: $base-size;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  color: #2c2c2c;
}

body {
  margin: 0;
  padding: 0;
}

.box {
  background: linear-gradient(90deg, #fff4f0, #fff0f6);
  padding: calc($base-size / 2);
  border-radius: $base-size;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 40px rgba(0, 0, 0, 0.25);
  }
}

.vertical-group-container {
  display: flex;
  flex-direction: column;
  gap: calc($base-size * 0.75);
}

.horizontal-group-container {
  display: flex;
  flex-direction: row;
  gap: $base-size;
  flex-wrap: wrap;
}

.cv-container {
  display: flex;
  flex-direction: column;
  gap: $base-size;
  width: 794px; /* A4 width in pixels */
  margin: 0 auto; /* Center horizontally */
  padding: $base-size; /* Add padding for better spacing */
  background: #f3c6c6; //#FFCAD4
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: $base-size;
}
