@use './colors.scss' as colors;
@use './assets/fonts/JetBrainsMono-2.304/style.scss'; 
@use 'sass:list';
@import './sizes.scss';

$base-size: list.nth($sizes, 2);

html {
  margin: 0;
  padding: $base-size;
  background-color: white;
  font-family: 'JetBrains Mono';
}

body {
  margin: 0;
  padding: 0;
}

.box {
  background: linear-gradient(90deg, colors.$color10, colors.$color9);
  padding: $base-size;
  border-radius: $base-size;
  border: 1px solid colors.$color1;
}

.vertical-group-container {
  display: flex;
  flex-direction: column;
  gap: $base-size;
}

.horizontal-group-container {
  display: flex;
  flex-direction: row;
  gap: $base-size;
}
